@model WEBGROUP_GCC0903.Models.Product

@{
    ViewData["Title"] = "Edit";
}

<h1>Product</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="pro_id" />
            <div class="form-group">
                <label asp-for="pro_name" class="control-label"></label>
                <input asp-for="pro_name" class="form-control" />
                <span asp-validation-for="pro_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="pro_quantity" class="control-label"></label>
                <input asp-for="pro_quantity" class="form-control" />
                <span asp-validation-for="pro_quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="import_price" class="control-label"></label>
                <input asp-for="import_price" class="form-control" />
                <span asp-validation-for="import_price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="sale_price" class="control-label"></label>
                <input asp-for="sale_price" class="form-control" />
                <span asp-validation-for="sale_price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="pro_image" class="control-label"></label>
                <input asp-for="pro_image" class="form-control" />
                <span asp-validation-for="pro_image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="description" class="control-label"></label>
                <input asp-for="description" class="form-control" />
                <span asp-validation-for="description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cat_id" class="control-label"></label>
                <select asp-for="cat_id" class="form-control" asp-items="ViewBag.cat_id"></select>
                <span asp-validation-for="cat_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a class="btn btn-outline-primary" asp-action="Index">Back</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
   <partial name="_ValidationScriptsPartial"/>
}
