@model WEBGROUP_GCC0903.Models.Category

@{
    ViewData["Title"] = "Edit";
}

<h1>Category</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="cat_id" />
            <div class="form-group">
                <label asp-for="cat_name" class="control-label"></label>
                <input asp-for="cat_name" class="form-control" />
                <span asp-validation-for="cat_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a class="btn btn-outline-primary" asp-action="Index">Back</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
   <partial name="_ValidationScriptsPartial"/>
}
